body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
/* TODO: actually have some pretty theme here*/
    background: #102030 url(/images/noise.png);
    color: #ddd;
    margin: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header {
    text-align: center;
    text-shadow: rgba(255,255,255,0.3) 1px 1px 1px;
}

#players {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    box-shadow: 0 0 8px black, 0 0 14px black inset;
    border-radius: 5px;
}
#players > div {
    width: 100%;
}
#players h2 {
    text-align: center;
}
#players p {
    margin-left: 10px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.player {    
}

.player > button.playpause {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96px;
    height: 96px;
    border-radius: 48px;
    font-size: 2em;
    box-shadow: 0 0 8px black, 0 0 14px black inset;
    background-color: #102030;
    border-color: #102030;
}
.player > button.playpause:hover {
    background-color: #203040;
}

.player > button.playpause > span {
    display: block;
    margin-top: -8px;
    color: white;
    text-shadow: 0 0 2px white;
}

.player > .seekbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px inset #102030;
    border-radius: 4px;
    width: 400px;
    height: 20px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
    box-shadow: 0 0 10px #102030 inset;
    cursor: move;
}

.player > .seekbar > * {
    display: block;
    left: 0;
    top: 0;
    width: 0;
    margin-top: -20px;
    height: 20px;
    border-radius: 4px;
}
.player > .seekbar > *:first-child {
    margin-top: 0;
}

.player > .seekbar > .timedisplay {
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 0 0 2px white;
    text-align: center;
}

.player > .seekbar > .loadhead {
    background-color: #203040;
    box-shadow: 0 0 5px #203040;
}

.player > .seekbar > .playhead {
    background-color: #102030;
    box-shadow: 0 0 5px #102030;
}

.player > canvas.visualizer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border: 1px inset #102030;
    border-radius: 4px;
    width: 400px;
    height: 150px;
    box-shadow: 0 0 10px #102030;
}
